@font-face {
  font-family: 'Courier Prime';
  src: url('../fonts/CourierPrime-BoldItalic.woff2') format('woff2'),
    url('../fonts/CourierPrime-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Courier Prime';
  src: url('../fonts/CourierPrime-Italic.woff2') format('woff2'),
    url('../fonts/CourierPrime-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Courier Prime';
  src: url('../fonts/CourierPrime.woff2') format('woff2'),
    url('../fonts/CourierPrime.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Courier Prime';
  src: url('../fonts/CourierPrime-Bold.woff2') format('woff2'),
    url('../fonts/CourierPrime-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-LightItalic.woff2') format('woff2'),
        url('../fonts/Roboto-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Italic.woff2') format('woff2'),
        url('../fonts/Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.woff2') format('woff2'),
        url('../fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
