$font: 'Roboto', sans-serif;
$font-mono: 'Courier Prime', monospace;

$red: #F06543;
$white: #E8E9EB;
$beige: #E0DFD5;
$black: #313638;
$yellow: #F09D51;

$primary-bg-color: $white;
$primary-color: $black;

body {
  background-color: $primary-bg-color;
  color: $primary-color;
  font-family: $font;
}
form {
  .layerButtons {
    margin: 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;

    button {
      margin: 0 10px;
      width: 15em;
    }
  }

  #layersContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    input {
      width: 100px;
      height: 20px;
      padding: 0 3px;
      background-color: $black;
      color: $white;
      position: relative;
      border: 0;
    }
  }

  fieldset {
    margin-top: 10px;
  }
}
